.cartBody {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.726),
      rgba(0, 0, 0, 0.507),
      #000
    ),
    url("../../assets/tenniscourt.jpg");
  background-position: center;
  background-size: cover;
}

.cartContainer {
  margin: 1rem auto;
  min-height: calc(90vh - 60px);
  max-width: 1200px;
  width: 100vw;
}

.cart {
  margin: 3rem auto;
  background-color: #00e1ff;
  min-height: 100%;
  width: 100%;
  font-family: "Oswald", sans-serif;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.411);

  a {
    margin-top: 1rem;
    &:hover {
      color: #00e1ff;
      border-bottom: 2px solid #333;
    }
  }
  .keepShoppingBtn {
    &:hover {
      color: #fff;
    }
  }

  h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
}

.checkoutBox {
  background-color: #fff;
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  color: #333;
  margin: 2rem auto;
  width: 100%;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.411);
}

.itemBox {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  width: 60%;
  border-radius: 4px;
  padding: 1rem;
}

.subtotalBox {
  width: 40%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  justify-content: space-between;
  .subTotalForm {
    display: flex;
    align-items: center;

    button {
      border: 2px solid #333;
      background-color: #fff;
    }
  }
  div {
    padding: 1rem 0.5rem;
    width: 100%;

    div {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  button {
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 4px;
    background-color: #fff;
    width: 90%;
    &:hover {
      cursor: pointer;
      background-color: rgb(245, 245, 245);
    }
  }
}
@media (max-width: 600px) {
  .cartContainer {
    border: none;
  }
  .cart {
    margin: 0;
    padding: 0.3rem;
    border: none;
  }
  .subtotalBox {
    width: 100%;
  }
  .itemBox {
    width: 100%;
  }
  .checkoutBox {
    flex-direction: column;
    margin: 0.5rem auto;
  }
}
