.profile-section {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.678)),
    url("../../assets/profilebg.jpg");
  background-size: cover;
  background-position: center;
}
.form-section {
  width: 30%;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin: 0 auto;
  }
  h2 {
    color: #fff;
    margin: 1rem 0;
    align-self: flex-start;
    font-size: 1.8rem;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
    input {
      border: 1px solid #333;
      border-radius: 2px;
      padding: 0.5rem 1rem;
      margin: 0.2rem;
      width: 50%;
    }
    .updateBtn {
      background-color: transparent;
      border: 1px solid #333;
      color: #333;
      margin-top: 0.5rem;
      padding: 0.5rem;
      width: 50%;
      background-color: rgba(255, 255, 255, 0.87);
      transition: background-color 0.3s;

      &:hover {
        cursor: pointer;
        color: #fff;
        background-color: rgb(80, 80, 80);
      }
    }
  }
}

@media (max-width: 1300px) {
  .form-section {
    width: 50%;
    margin: 2rem auto;

    form {
      input {
        width: 100%;
        border: none;
      }
      .updateBtn {
        width: 80%;
        border-radius: 4px;
      }
    }
  }
}

@media (max-width: 800px) {
  .form-section {
    width: 90%;
    img {
      width: 200px;
    }
  }
}

@media (max-width: 600px) {
  .form-section {
    width: 90%;
    img {
      width: 100px;
    }
  }
}
