.About {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  max-width: 1250px;
  width: 100%;
  height: 600px;
  margin-top: 1rem;

  .aboutText {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgb(0, 0, 0)),
      url("../../assets//black-min.jpg");
    font-family: "Oswald", sans-serif;
    align-items: center;
    background-size: cover;
    background-position: top;
    color: #fff;
    position: relative;
    border-radius: 4px;

    div {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-70%, -40%);
    }

    h4 {
      font-size: 3.5rem;
      padding: 1rem 0;
    }

    p {
      font-size: 1.8rem;
      padding: 1rem 0;
    }

    .gearBtn {
      display: inline-block;
      margin-top: 0.2rem;
      background-color: #00e1ff;
      color: #333;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      font-size: 1.7rem;
      border: none;
      color: rgb(32, 32, 32);
      cursor: pointer;
      font-family: "Oswald", sans-serif;
      &:hover {
        color: #fff;
      }
    }
  }
}
@media (max-width: 601px) {
  .About {
    .aboutText {
      background-size: cover;
      background-position: right;

      h4 {
        font-size: 2rem;
      }
    }
  }
}
