.shop-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.39)),
    url("../../assets/hero.jpg");
  height: 50vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;

  h2 {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 30%;
    font-size: 5rem;
    color: #00e1ff;
    font-family: "Oswald", sans-serif;
    text-shadow: 2px 2px 3px #000;
  }
}
.shop-heading {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}
.store-boxes {
  display: flex;

  width: 70%;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  :nth-child(1) {
    position: relative;
    width: 90%;
    height: 600px;
    overflow: hidden;
    position: relative;
    &:hover img {
      transform: scale(1.25);
    }
    h3 {
      font-size: 3rem;
      z-index: 2;
      position: absolute;
      top: 40%;
      height: 10%;
      color: #fff;
      padding: 0;
      margin: 0;
      font-family: "Oswald", sans-serif;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);
    }

    img {
      height: 100%;
      transition: transform 1.9s;
    }
  }
  :nth-child(2) {
    position: relative;
    width: 90%;
    height: 600px;
    overflow: hidden;
    position: relative;

    &:hover img {
      transform: scale(1.25);
    }
    h3 {
      font-size: 3rem;
      z-index: 2;
      position: absolute;
      top: 40%;
      height: 10%;
      color: #fff;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.562);

      padding: 0;
      margin: 0;
      font-family: "Oswald", sans-serif;
    }

    img {
      height: 100%;
      transition: transform 1.9s;
    }
  }
}

@media (max-width: 1200px) {
  .shop-hero {
    h2 {
      top: 30%;
      left: 10%;
      font-size: 4rem;
      width: 45%;
    }
  }
}

@media (max-width: 800px) {
  .shop-hero {
    h2 {
      top: 30%;
      left: 10%;
      font-size: 4rem;
      width: 45%;
    }
  }
}

@media (max-width: 601px) {
  .shop-hero {
    h2 {
      top: 30%;
      left: 10%;
      font-size: 3rem;
      width: 60%;
    }
  }

  .store-boxes {
    flex-direction: column;
    width: 100%;
    :nth-child(1) {
      height: 300px;
      margin-bottom: 0.5rem;
    }
    :nth-child(2) {
      height: 300px;
    }
    a {
      height: 10px;
      :nth-child(1) {
        height: 300px;
      }
      :nth-child(2) {
        height: 300px;
      }
    }
  }
}
