form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 1rem auto;
  font-family: "Oswald", sans-serif;

  h2 {
    font-size: 2.2rem;
  }

  input {
    border: 1px solid #ccc;
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 4px;
  }
}
.purchaseBtn {
  display: inline-block;
  margin-top: 1rem;
  background-color: #00e1ff;
  color: #333;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1.1rem;
  border: none;
  color: rgb(32, 32, 32);
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  &:hover {
    color: #fff;
  }
}
.checkoutPage {
  height: 90vh;
  text-align: center;
}
.checkoutPage1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  height: 90vh;
  h2 {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .homeBtn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    background-color: #00e1ff;
  }
}
