.img {
  height: 100px;
  width: auto;
  margin: 0.5rem;
}
.favContainer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;

  .favH1 {
    text-align: center;
    font-size: 2rem;
  }
}
.description {
  margin: 0.5rem auto;
  font-size: 0.9rem;
}
.button {
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #00e1ff;
  color: #333;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;

  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #00c5df;
  }
}
h1 {
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .favContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      flex-direction: column;
      width: 80%;
      align-items: center;
      justify-content: center;

      .button {
        margin: 0.2rem 0;
        align-self: flex-start;
      }
    }
  }
}
