.menHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.39)),
    url("../../assets/menShopTop.jpg");
  height: 50vh;
  width: 100%;

  position: relative;
  background-size: cover;
  h2 {
    position: absolute;
    color: #fff;
    top: 30%;
    left: 40%;
    font-size: 5rem;
    font-family: "Oswald", sans-serif;
    text-shadow: 2px 2px 3px #000;
    width: 40%;
  }
}
@media (max-width: 970px) {
  .menHero {
    h2 {
      top: 30%;
      left: 50%;
      font-size: 4rem;
      width: 45%;
    }
  }
}
@media (max-width: 1600px) and (max-height: 800px) {
  .menHero {
    h2 {
      top: 20%;
      left: 50%;
      font-size: 4rem;
      width: 35%;
    }
  }
}
@media (max-width: 1200px) and (max-height: 800px) {
  .menHero {
    h2 {
      top: 20%;
      left: 20%;
      font-size: 4rem;
      width: 35%;
    }
  }
}

@media (max-width: 1200px) {
  .menHero {
    h2 {
      top: 30%;
      left: 10%;
      font-size: 4rem;
      width: 45%;
    }
  }
}

@media (max-width: 800px) {
  .menHero {
    h2 {
      top: 30%;
      left: 10%;
      font-size: 3rem;
      width: 45%;
    }
  }
}

@media (max-width: 600px) {
  .menHero {
    height: 40vh;
    h2 {
      top: 30%;
      left: 10%;
      font-size: 2.5rem;
      width: 70%;
    }
  }
}
